body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #1d351e;
    color: white;
    text-align: center;
    padding: 1em 0;
    font-family: "Quattrocento Sans"
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

section h2 {
    color: #264b26;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}