body {
    height: 100%;
    margin: 0;
    font-family: "Quattrocento Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

header {
    background-image: url(./img/Ara-Ararauna.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 2em 0;
    flex-grow: 1;
}

section {
    margin-bottom: 2em;
}

section h2 {
    color: #264b26;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
    position: absolute;
    max-width: 960px;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 1em;
    }

    header {
        padding: 0.5em 0;
    }

    main {
        padding: 1em 0;
    }

    footer {
        padding: 0.5em 0;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    nav ul li a {
        padding: 0.5em;
    }

    main {
        padding: 0.5em 0;
    }

    section h2 {
        font-size: 1.2em;
    }
}
#zdroje ul li a {
    text-decoration: none;
    color: black;
}